# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Test & coverage
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.tox/

# IDE configs
.vscode/
.idea/
*.iml

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

alembic/versions/*.pyc
